/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/
.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white);
  padding-block: 12px;
  box-shadow: var(--shadow-1);
  z-index: 4;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 30px;
}

.logo {
  display: flex;
  align-items: center;
}

.navbar {
  flex-grow: 1;
}

.navbar-list {
  display: flex;
  justify-content: flex-end; /* Spread out items evenly */
  align-items: center;
  gap: 40px; /* Adjust the gap as needed */
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.navbar-item {
  border: none;
}
.navbar-item a{
 font-size: 15px;
}
.navbar-link {
  color: var(--eerie-black-1);
  padding-block: 8px;
  font-weight: var(--fw-500);
  transition: var(--transition-1);
  text-decoration: none;
}

.navbar-link:is(:hover, :focus) {
  color: var(--kappel);
}

.header-actions {
  display: flex;
  align-items: center;
}

.header-action-btn {
  color: var(--eerie-black-1);
  font-size: 24px;
  transition: var(--transition-1);
}

.header-action-btn:is(:hover, :focus) {
  color: var(--kappel);
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--black_80);
  pointer-events: none;
  opacity: 0;
  z-index: 1;
  transition: var(--transition-1);
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}
