/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/
.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white);
  padding-block: 12px;
  box-shadow: var(--shadow-1);
  z-index: 4;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 30px;
}

.logo {
  display: flex;
  align-items: center;
}

.navbar {
  flex-grow: 1;
}

.navbar-list {
  display: flex;
  justify-content: flex-end; /* Spread out items evenly */
  align-items: center;
  gap: 40px; /* Adjust the gap as needed */
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.navbar-item {
  border: none;
}

.navbar-link {
  color: var(--eerie-black-1);
  padding-block: 8px;
  font-weight: var(--fw-500);
  transition: var(--transition-1);
  text-decoration: none;
}

.navbar-link:is(:hover, :focus) {
  color: var(--kappel);
}

.header-actions {
  display: flex;
  align-items: center;
}

.header-action-btn {
  color: var(--eerie-black-1);
  font-size: 24px;
  transition: var(--transition-1);
}

.header-action-btn:is(:hover, :focus) {
  color: var(--kappel);
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--black_80);
  pointer-events: none;
  opacity: 0;
  z-index: 1;
  transition: var(--transition-1);
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}



@media (min-width: 575px) {

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 520px;
    width: 100%;
    margin-inline: auto;
  }
  
  
  
  .grid-list { grid-template-columns: 1fr 1fr; }

  :is(.course, .blog) .grid-list { grid-template-columns: 1fr; }



  /**
   * HEADER
   */

  .header .container { max-width: unset; }

  .header-actions { gap: 30px; }

  
   .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 5 students per row */
    gap: 20px; /* Adjust as needed */
  }


 

}

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 4.6rem;
    --fs-2: 3.8rem;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 720px; }

  .btn { padding: 15px 30px; }

  :is(.course, .blog) .grid-list { grid-template-columns: 1fr 1fr; }

/**
   * Success stories
   */

   
   .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 5 students per row */
    gap: 20px; /* Adjust as needed */
  }

  /**
   * HEADER
   */

  .header .container { padding-inline: 30px; }

  .header .btn {
    display: flex;
    padding: 10px 30px;
    margin-inline: 20px;
  }



}

@media (min-width: 1200px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 6.5rem;

    /**
     * spacing
     */

    --section-padding: 120px;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 1185px; }

  .shape { display: block; }

  .about-content,
  .video-card,
  .blog { position: relative; }



  /*** HEADER*/

  .header-action-btn:last-child,
  .navbar .wrapper,
  .overlay { display: none; }

  .header.active {
    transform: translateY(-100%);
    animation: slideIn 0.5s ease forwards;
  }

  @keyframes slideIn {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0); }
  }

  .navbar,
  .navbar.active { all: unset; }

  .navbar-list {
    display: flex;
    gap: 50px;
    padding: 0;
  }

  .navbar-item:not(:last-child) { border-block-end: none; }

  .navbar-link {
    color: var(--eerie-black-1);
    padding-block: 20px;
  }

  .header .btn { margin-inline-end: 0; }

}